body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #66BFBF;
}

h1 {
    color: #095d5d;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive
}

h2 {
    color: #095d5d;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    margin-bottom:30px
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height:2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:4%;
    margin:100px auto;
}

/*------------------TOP CONTAINER------------------------------*/

.top-container {
    padding-top: 100px;
    background-color: #e4f9f5;
    position:relative
}

.pro {
    text-decoration:underline;
}

.top-cloud {
    position:absolute;
    right:350px;
    top:50px
}

.bottom-cloud {
    position:absolute;
    left:300px;
    bottom:300px
}

/*-----------------MIDDLE CONTAINER--------------------------*/

.middle-container {
    margin: 100px 0;
}

.profile p {
    width:30%;
    margin:0 auto;
    color:black;
}

.profile img {
    width:200px;
    border-radius: 100%;
}

.myskills-row{
    width:50%;
    margin:100px auto;
    text-align:left;
}

.myskills-row img {
    width: 25%;
    border-radius: 100%;
  }

.computer {
    float: left;
    margin-right: 30px;
}
.chillies{
    float: right;
    margin-left : 30px;
}
.contact-me p{
    width:40%;
    margin:40px auto;
}

.btn {
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size:20px;
    padding:10px 20px;
    text-decoration:none;
    margin-top:30px;
}

.btn:hover {
    background: #30e3cb;
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    }

/*---------------Bottom Container-------------------------*/

.bottom-container {
    background-color: #66BFBF;
    padding:50px 0 20px;
}

    .bottom-container a {
        color: #11999E;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;
    }

        .bottom-container a:hover {
            color: #EAF6F6;
        }

    .bottom-container p {
        color: #EAF6F6;
        font-size: 0.75rem;
        margin-top: 40px;
    }